/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  /* ẩn navbar */
  .navbar {
    display: none;
  }
  /* cho logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 10px;
    translate: 50% -50%;
  }
  /* căn lại vị trí menu icon */
  .menu-header__icon {
    position: absolute;
    z-index: 0;
    top: 38px;
    left: 26px;
    width: 24px;
    color: #fff;
    cursor: pointer;
  }
  /* căn lại overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* đk bình thường của overlay */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* code cho menu drawer */
  .menu-drawer {
    padding: 60px;
    position: fixed;
    background-color: rgb(16, 14, 42);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* menu-top */
  .menu-drawer__logo {
    width: 86px;
    object-fit: cover;
  }
  .close__menu {
    width: 20px;
    color: #fff;
    cursor: pointer;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__list {
    flex-direction: column;
    row-gap: 10px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: rgba(100, 148, 237, 0.323);
  }

  /* hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__media {
    order: 1;
  }
  .hero__content {
    order: 2;
  }
  .hero__content {
    width: 80%;
    text-align: center;
  }
  .hero__row {
    justify-content: center;
  }

  /* service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__row figure {
    width: 100%;
  }
  .service-item {
    width: 90%;
  }
  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* work */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
  }

  .about__img--small {
    display: none;
  }
  .about__media,
  .about__img--big {
    width: 100%;
    margin: 25px auto;
  }
  .about__content {
    width: 90%;
    text-align: center;
  }

  /* team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  /* install */
  .install__inner {
    padding: 10px;
  }

  .install__img {
    display: none;
  }

  .install__content {
    max-width: 90%;
    margin: 0 auto;
  }

  /* blog */
  .blog__inner {
    flex-direction: column;
  }
  .blog__content {
    width: 90%;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .blog__control {
    justify-content: center;
  }

  .appointment__inner {
    padding: 100px 50px;
  }

  /* footer */
  .footer__top {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5.5fr 3fr;
    gap: 40px;
  }
  .footer__column:first-of-type,
  .footer__column:last-of-type {
    grid-column: span 2;
    text-align: center;
  }

  footer .logo {
    left: 50%;
    transform: translateX(-100%);
  }

  .footer__item{
    display: block;
    vertical-align: baseline;
  }

  .footer__column:last-of-type{
    display: flex;
    justify-content: space-between;
  }

}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
}
