* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #10375c;
  --secondary-color: #2e80ce;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 300;
  line-height: normal;
}

/* ========================= Common ========================= */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  color: #ffffff;
  background-color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  line-height: 167%;
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  color: #575f66;
  border: 1px solid currentColor;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.control-icon--next {
  rotate: 180deg;
}

/* ========================= Header-top ========================= */

.header {
  padding-top: 30px;
  background-color: var(--primary-color);
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.header__logo {
  width: 86px;
  object-fit: cover;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  line-height: 175%;
}

.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active {
  color: #ffffff;
  text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  top: -3px;
  right: 8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.header__action--signup {
  margin-right: 7px;
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

/* ========================= Hero ========================= */
.hero {
  padding-top: 76px;
  padding-bottom: 110px;
  display: flex;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  color: #ffffff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.02em;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  line-height: 167%;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
  color: #ffffff;
}

.hero__media {
  flex: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ========================= Service ========================= */
.service {
  padding: 170px 0;
}

.service__heading {
  text-align: center;
}

.service__desc {
  text-align: center;
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: top;
}

.service-item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  color: #ffffff;
  padding: 21px;
  transition: 0.25s;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px #0000000d;
  position: relative;
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: var(--secondary-color);
}

.service-item__icon {
  color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px #0000000d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.service-item__heading {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc a {
  margin-top: 8px;
  color: #575f66;
  line-height: 175%;
}

.service__btn {
  margin-top: 55px;
}

/* ========================= Work ========================= */

.work {
  background-color: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background-color: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.5s;
}

.work-item:hover {
  border-color: var(--secondary-color);
  transform: translateY(-16px);
}

.work-item__icon {
  height: 72px;
  object-fit: cover;
}

.work-item__heading {
  margin-top: 18px;
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.5%;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  line-height: 175%;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 175%;
}

/* ========================= About us ========================= */

.about {
  padding: 85px 0;
  margin-top: 85px;
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  margin-bottom: 121px;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px #00000012;
  object-fit: cover;
}

.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about__content {
  width: 40%;
}

.about__btn {
  margin-top: 38px;
}

/* ========================= Team ========================= */
.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__img {
  background-color: #eaf6ff;
  padding-top: 28px;
  border-radius: 6px;
  overflow: hidden;
}

.team-item__thumb {
  margin: 0 auto;
  display: block;
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}

.team-item__name {
  margin-top: 12px;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 175%;
  text-align: center;
}

.team-item__desc {
  color: #575f66;
  line-height: 186%;
  text-align: center;
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* ========================= Install ========================= */
.install {
  margin: 180px 0 85px;
}

.install__inner {
  height: 427px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.install__inner figure {
  align-self: flex-end;
}

.install__img {
  display: block;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install__heading {
  max-width: 489px;
  color: #ffffff;
}

.install__desc {
  color: #ffffff;
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
}

/* ========================= Blog ========================= */
.blog {
  padding: 85px 0;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__content {
  width: 40%;
}

.blog__heading {
  max-width: 470px;
}

.blog__more {
  display: inline-block;
  margin-top: 28px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
}

.blog__control {
  margin-top: 28px;
}

.blog__list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.blog-item {
  max-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  overflow: hidden;
}

.blog-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 50px 0px #0000000d;
}

.blog-item__thumb {
  display: block;
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  position: relative;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}

.blog-item__body {
  padding: 18px 22px 21px;
  background-color: #fff;
}

.blog-item__heading {
  color: var(--primary-color);
  font-family: Sora;
  font-weight: 600;
  line-height: 26px;
}

.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  line-height: 24px;
}

.blog-item__more {
  display: block;
  margin-top: 12px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 17.64px;
}

.blog-item__more:hover {
  color: #2e80ce;
}

/* ========================= Appointment ========================= */
.appointment {
  margin: 85px 0 170px;
}

.appointment__inner {
  background-color: #f6fbff;
  padding: 100px 178px;
  text-align: center;
}

.appointment__heading {
  text-align: center;
}

.appointment__heading::after {
  content: "";
  display: block;
  margin: 18px auto;
  width: 136px;
  height: 2px;
  background-color: #2e80ce;
}

.appointment__desc {
  margin: 0 auto;
  color: #575F66;
  max-width: 617px;
  font-size: 1.6rem;
  line-height: 28px;
}

.appointment__btn{
    margin-top: 38px;
}
